.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
flex-direction: column;
}
.justify-around	{
justify-content: space-around;
}

.justify-center	{
  justify-content: center;
  }

.text-center {
  text-align: center;
}




.capital-first {
  text-transform: capitalize;
}

.my-2{
  margin-top: 10px;
  margin-bottom: 10px;
}